<?xml version="1.0"?>
<model>
    <name>Camera</name>
    
    <version>1.0</version>
    <sdf version='1.5'>gazebo_camera.sdf</sdf>
    
   
    <description>
        A simple camera. (Copied from http://answers.gazebosim.org/question/7116/forcing-gazebo-to-render-at-fixed-intervals-or-how-to-record-a-video-of-a-simulation/)
    </description>
</model>
