<?xml version="1.0"?>
<model>
    <name>Board</name>

    <version>1.0</version>
    <sdf version='1.5'>board.sdf</sdf>

    <author>
        <name>Yeshasvi Tirupachuri</name>
        <email>yeshasvi.tirupachuri@iit.t</email>
    </author>

    <description>
        A simple board used in two icubs comanipulation experiment
    </description>
</model>
