<?xml version="1.0"?>

<model>
  <name>Small Table</name>
  <version>1.0</version>
  <sdf version="1.5">small_table.sdf</sdf>

  <author>
    <name>Stefano Dafarra</name>
    <email>stefano.dafarra@iit.it</email>
  </author>

  <description>
    A wooden table, obtained from Gazebo table.
  </description>
</model>
