<?xml version="1.0"?>
<model>
    <name>iCub on a chair</name>
    
    <version>1.0</version>
    <sdf version='1.5'>icub_chair.sdf</sdf>
    
    <author>
        <name>Gabriele Nava</name>
        <email>gabriele.nava@iit.it</email>
    </author>
    
    <description>
        iCub is sitting on a chair
    </description>
</model>
